<!DOCTYPE html>
<html ng-app="ticTacToe">
  <head>
    <!-- Libs -->
    <script type="text/javascript" src="/lib/tictactoe/tic-tac-toe.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.css"/>

    <!-- App -->
    <script type="text/javascript" src="/js/appClient.js"></script>
    <script type="text/javascript" src="/js/controllers/mainController.js"></script>
    <link rel="stylesheet" href="/css/tic-tac-toe.css"/>

    <title> -- TIC TAC TOE -- </title>
  </head>

  <body ng-controller="mainController">

    <div id="box-head" class="jumbotron">
      <div id="box-players" class="box-defaults">
        <form name="playerForm">
        	<input class="form-control form-control-exp" type="text" ng-model="player1Form.name" placeholder="Player 1">
        	<input class="form-control form-control-exp" type="text" ng-model="player2Form.name" placeholder="Player 2">
        </form>
        <input class="btn btn-custom-black btn-block" type="button" value="Start" ng-click="initTicTacToe(player1Form, player2Form)">
      </div>
    </div>

    <!-- GAME BOX - BEGIN -->
    <div id="box-table-ttt" class="box-defaults">
      <table id="table-ttt">
        <tr>
  	      <td class="cell-option cell-left-side">
            <div id="mtrz_00" ng-click="tictactoe.select('00')" class="cell-option-action"></div>
          </td>
  	      <td class="cell-option">
            <div id="mtrz_01" ng-click="tictactoe.select('01')" class="cell-option-action"></div>
          </td>
  	      <td class="cell-option cell-right-side">
            <div id="mtrz_02" ng-click="tictactoe.select('02')" class="cell-option-action"></div>
          </td>
  	    </tr>
  	    <tr>
  	      <td class="cell-option cell-left-side">
            <div id="mtrz_10" ng-click="tictactoe.select('10')" class="cell-option-action"></div>
          </td>
  	      <td class="cell-option">
            <div id="mtrz_11" ng-click="tictactoe.select('11')" class="cell-option-action"></div>
          </td>
  	      <td class="cell-option cell-right-side">
            <div id="mtrz_12" ng-click="tictactoe.select('12')" class="cell-option-action"></div>
          </td>
  	    </tr>
        <tr>
  	      <td class="cell-option cell-left-side" style="border-bottom: 0 !important;">
            <div id="mtrz_20" ng-click="tictactoe.select('20')" class="cell-option-action"></div>
          </td>
  	      <td class="cell-option" style="border-bottom: 0 !important;">
            <div id="mtrz_21" ng-click="tictactoe.select('21')" class="cell-option-action"></div>
          </td>
  	      <td class="cell-option cell-right-side" style="border-bottom: 0 !important;">
            <div id="mtrz_22" ng-click="tictactoe.select('22')" class="cell-option-action"></div>
          </td>
  	    </tr>
  	  </table>
    </div>
    <!-- GAME BOX - END -->

    <div id="box-results" ng-show="initialized" class="results jumbotron box-defaults">
      <table class="table table-score">
  			<tr>
  				<th>Player</th>
  				<th>Score</th>
  			</tr>
  			<tr>
  				<td>{{tictactoe.player1.fullName()}}</td>
  				<td class="td-score">{{tictactoe.player1.score}}</td>
  			</tr>
        <tr>
  				<td>{{tictactoe.player2.fullName()}}</td>
  				<td class="td-score">{{tictactoe.player2.score}}</td>
  			</tr>
        <tr>
  				<td>Velha</td>
  				<td class="td-score">{{tictactoe.noWinner}}</td>
  			</tr>
  		</table>
    </div>

  </body>
</html>
